@import '../../partials/variables';
@import '../../partials/mixins';

$long-btn-radius: 30px;

.operators-row {
  margin-bottom: 1em;
}

.operator,
.num {
  @include operatorBtn($border-circle, 700);

  &:active {
    background: rgba($primary-color, .5);
    box-shadow: none !important;
  }
}

.operator {
  border-radius: 43%;
  color: $parimary-text-color;
  transition: $primary-trans;
}

.num {
  font-weight: 400;
  border: none;
  transition: $primary-trans;

  &[data-key="reset"] {
    background: $secondary-color;
    font-weight: 500;
    color: #fff;
    box-shadow: 0 2px 4px $secondary-color !important;

    &:active {
      background: rgba($secondary-color, .5);
    }
  }
}

.equal-and-numbers {
  .equal-and-numbers-equal {
    order: 1;
    flex: 1 1 10%;

    button {
      height: 100%;
      border-radius: $long-btn-radius;

      &.equal-btn {
        background: $tirnary-color;
        color: $secondary-text-color;
        box-shadow: 0 2px 4px rgba($tirnary-color, .7) !important;
        transition: $primary-trans;

        &:active {
          background: rgba($tirnary-color, .5);
        }

        &:disabled {
          opacity: .5;
          background: #ccc;
          border: 0;
          color: gray;
        }
      }
    }
  }

  .equal-and-numbers-numbers {
    padding-right: 1em;
    flex: 1 1 90%;

    .row {
      margin-bottom: .5em;

      >div {
        width: 100%;
        padding-right: 1.5em;
      }
    }

    .row:last-child {
      margin-bottom: 0;
      padding-right: 1.5em;
    }
  }
}
