<main>
  <div class="container">
    <div class="screen">
      <form class="screen-form" [formGroup]="calculationForm" (ngSubmit)="onSubmit()" ng->
        <input class="screen-calculation-input" type="text" placeholder="Write here..." formControlName="clculationInput" required>
      </form>
      <div class="screen-output">
        <p>output test</p>
      </div>
      <div class="screen-history-btn">
        <button type="button" (click)="showHistory = !showHistory">History</button>
      </div>
    </div>

    <div class="buttons-history">
      <app-buttons></app-buttons>
      <app-history *ngIf="showHistory"></app-history>
    </div>
  </div>
</main>
