<main>
  <div class="container">
    <div class="screen">
      <form class="screen-form" [formGroup]="calculationForm" (ngSubmit)="onSubmit()">
        <input class="screen-calculation-input" type="text" placeholder="Write here..." (keypress)="onKeypress($event)"  formControlName="calculationInput">
      </form>
      <div class="screen-output">
        <p>output test</p>
      </div>
      <div class="screen-history-btn d-flex justify-content-space-between">
        <button type="button" (click)="onClear()">AC</button>
        <button type="button" (click)="showHistory = !showHistory">History</button>
      </div>
    </div>

    <div class="buttons-history">
      <app-buttons *ngIf="!showHistory" (keyName)="getKey($event)"></app-buttons>
      <app-history *ngIf="showHistory"></app-history>
    </div>
  </div>
</main>
