@import './variables';

@mixin operatorBtn($border-radius, $font-weight) {
  width: 60px;
  height: 60px;
  text-align: center;
  background: $primary-color;
  border-radius: $border-radius;
  line-height: 50px;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2) !important;
  font: {
    weight: $font-weight;
    size: 20px;
  };
  color: $secondary-text-color;
}
