// variables
$border-circle: 50%;

// colors
$primary-color: #ddd;
$secondary-color: #ff1e1e;
$parimary-text-color: #bd0000;
$secondary-text-color: #111;
$tirnary-color: #1dc1a3;

// transition
$primary-trans: 200ms ease-in-out;
