// variables
$border-circle: 50%;

// colors
$primary-color: #ffcfcf;
$primary-border-color: #ffafaf;
$secondary-color: #ddd;
$secondary-border-color: #b7b7b7;
$parimary-text-color: #bd0000;
$secondary-text-color: #111;
$trinity-color: #ff4949;

// transition
$primary-trans: 200ms ease-in-out;
