* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: {
    family: 'Roboto', sans-serif;
    size: 1em
  }
  outline: none;
}

$flex-justify: ('center', 'space-between', 'space-around');

.d-flex {
  display: flex;
}

@each $val in $flex-justify {
  .justify-content-#{$val} {
    justify-content: unquote($val);
  }
}
